.efeitoFundo {
    position: relative;
}   

.efeitoFundo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imagens/trabalhadorContato.png');
  background-size: cover;
  background-position: center;
  filter: blur(7px);
  opacity: 0.5;
  z-index: -1;
}

.alinhamentoCard {
    height: 75dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    color: red;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 1s;
}

.contato:hover {
    transform: scale(1.05);
}

.imagemCard {
    max-width: 100%;
    border-radius: 50%;
}

.iconeTelefone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corTexto, .iconeTelefone {
    color: black;
}

.numeroTelefone {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 500px) {
    .efeitoFundo {
        background-image: url("../imagens/imgFundoMobile.jpg");
        background-repeat: repeat-y;
    }

    .efeitoFundo::after {
        background-image: url("../imagens/imgFundoMobile.jpg");
    }

    .alinhamentoCard {
        flex-flow: nowrap column;
        justify-content: flex-start;
    }

    .efeitoFundo {
        height: 105dvh;
    }

    .contato {
        width: 80%;
        height: auto;
        margin: 15px;
    }
}